<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateform.dao.BiddocMapper">
  <resultMap id="BaseResultMap" type="com.plateform.entity.Biddoc">

    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="BIDDOC_NO" jdbcType="VARCHAR" property="biddocNo" />
    <result column="BIDDER" jdbcType="VARCHAR" property="bidder" />
    <result column="BIDDOC_TIME" jdbcType="DATE" property="biddocTime" />
    <result column="BIDDOC_CONTENT" jdbcType="VARCHAR" property="biddocContent" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="BID_RESULT" jdbcType="VARCHAR" property="bidResult" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from spt_biddoc
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.plateform.entity.Biddoc">
    insert into spt_biddoc (ID, BIDDOC_NO, BIDDER, BIDDOC_TIME,
      BIDDOC_CONTENT, STATUS, BID_RESULT
      )
    values (#{id,jdbcType=INTEGER}, #{biddocNo,jdbcType=VARCHAR}, #{bidder,jdbcType=VARCHAR}, #{biddocTime,jdbcType=DATE},
      #{biddocContent,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{bidResult,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.plateform.entity.Biddoc">

    update spt_biddoc
    set BIDDOC_NO = #{biddocNo,jdbcType=VARCHAR},
      BIDDER = #{bidder,jdbcType=VARCHAR},
      BIDDOC_TIME = #{biddocTime,jdbcType=DATE},
      BIDDOC_CONTENT = #{biddocContent,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      BID_RESULT = #{bidResult,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Sep 21 13:27:31 CST 2019.
    -->
    select *
    from spt_biddoc
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Sep 21 13:27:31 CST 2019.
    -->
    select *
    from spt_biddoc
  </select>

  <!--按字符串查询-->
  <select id="selectByString" parameterType="com.plateform.entity.Biddoc" resultMap="BaseResultMap">
    select *
    from spt_biddoc
    where
      BIDDOC_NO like #{biddocNo,jdbcType=VARCHAR} and
      BIDDER like #{bidder,jdbcType=VARCHAR} and
      BIDDOC_CONTENT like #{biddocContent,jdbcType=VARCHAR} and
      STATUS like #{status,jdbcType=VARCHAR} and
      BID_RESULT like #{bidResult,jdbcType=VARCHAR}
  </select>
</mapper>